@import "tailwindcss";

@layer base{
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      
      html{
        overflow-x: hidden;
      }
      
      
      body {
        background-image: url('/images/noise.png');
        font-family: 'spaceMono', monospace;
        color: #CDCDC3 ;
        overflow-x: hidden;
        scroll-behavior: smooth;
      }
    
      
      html.lenis,
      html.lenis body {
        height: auto;
      }
      
      .lenis.lenis-smooth [data-lenis-prevent] {
        overscroll-behavior: contain;
      }
      
      .lenis.lenis-stopped {
        overflow: clip;
      }
      
      .lenis.lenis-smooth iframe {
        pointer-events: none;
      }
      

}


  
  
   /* hiding scrollbar */
   ::-webkit-scrollbar{
    display: none;
   }
  
   .w3rcontainer{
    border: 1px solid #cccfdb;
    border-radius: 2px;
  } 
  .hover-underline-animation {
   display: inline-block;
   position: relative;
  
  }
  
  .hover-underline-animation:after {
   content: '';
   position: absolute;
   width: 100%;
   transform: scaleX(0);
   height: 2px;
   bottom: 0;
   left: 0;
   background-color: #fff;
   transform-origin: bottom right;
   transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
   transform: scaleX(1);
   transform-origin: bottom left;
  }
  
  
  /* Hide cursor on mobile devices */
  @media (max-width: 768px) {
    .custom-cursor,
    .custom-cursor-follower {
      display: none;
    }
    * {
      cursor: auto !important;
    }
  }
  
  /* Add these styles */
  html {
    overflow-x: hidden;
  }
  
  
  .service-panel {
    transform: translateZ(0);
    will-change: transform;
    backface-visibility: hidden;
    perspective: 1000px;
    background-image: url('/images/noise.png');
  
  }

  .about-section{
    background-image: url('/images/noise.png');
  }
  
  .service-panel > * {
    pointer-events: auto;
  }
  
  /* Prevent horizontal scroll */
  
  /* Better performance for fixed elements */
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .cl-effect-5 a {
    overflow: hidden;
    padding: 0 4px;
    height: 1.5em;
    display: inline-block;
  }

  .cl-effect-5 a span {
    position: relative;
    display: inline-block;
    transition: transform 0.3s;
  }

  .cl-effect-5 a span::before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    transform: translate3d(0,0,0);
  }

  .cl-effect-5 a:hover span,
  .cl-effect-5 a:focus span {
    transform: translateY(-100%);
  }